<header class="page-head">
    <div class="wrapper">
        <nav class="site-nav">
            <div class="layout">
                <div class="layout__item  u-1/2">
                    <a href="{{ site.baseurl }}/" class="site-nav__home">
                        <img src="{{site.baseurl}}/assets/svgs/neighbourhood-logo.svg" class="site-nav__logo" width="250" alt="The Neighbourhood">
                    </a>
                </div><div class="layout__item  u-1/2">
                    <div class="hamburger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
    