/* =======================
   Components/Pre-loader
   ======================= */
.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

    .pre-loader__wrapper {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        border-radius: 50%;
        border: 10px solid transparent;
        border-top-color: $color-white;
        animation: spin 1s linear infinite;
        z-index: 1001;
    }

    @keyframes spin {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .pre-loader__section {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #1B1B14;
        z-index: 100;
        transform: translateX(0);
    }

    /* Loaded */
    .loaded-contents {
        .pre-loader {
            visibility: hidden;
            transition: all 0.3s 1s ease;
        }

        .pre-loader__wrapper {
            opacity: 0;
            transition: $base-transition;
        }

        .pre-loader__section {
            opacity: 0;
            transition: all 0.6s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
    }