/* =======================
   Components/Modules
   ======================= */
.modules {
    
}

    .modules__list {
        height: 28%;
        margin-bottom: $spacing-unit;
        width: 100%;
        list-style: disc;
    }

        .modules__link {
            background-color: #FDEC00;
            display: table;
            height: 100%;
            width: 100%;

            &:hover {
                text-decoration: none;
            }
        }

            .modules__figure {
                overflow: hidden;
                position: relative;
            }

            .modules__title {
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                width: 100%;
                @include font-size(20px);
            }

            .modules__image {
                transition: $base-transition;
                display: block;
                height: auto;
                max-width: 100%;

                &:hover {
                    opacity: 0.5;
                }
            }
