/* =======================
   Components/Background Color
   ======================= */

.bg-color--home {
    background: #FF4D5B;
}

.bg-color--modules {
    background: #42BBA3;
}

.bg-color--magnify-lens {
    background: #E3CD1F;
}

.bg-color--peep-holes {
    background: #289BD2;
}

.bg-color--sample {
    background: #42BBA3;
}

.bg-color--select-box {
    background: #9B7EFF;
}

.bg-color--image-map-types {
    background: #444;
}