/* =======================
   Components/Full Height
   ======================= */

.full-height {
    display: table;
    height: auto;
    min-height: 100%;
    width: 100%;
}

    .full-height__inner {
        display: table-cell;
        vertical-align: middle;
    }