/* =======================
   Settings/z-index
   ======================= */
$z-index-level-1: 100;
$z-index-level-2: 1000;
$z-index-level-3: 10000;
$z-index-level-4: 100000;
$z-index-level-5: 1000000;
$z-index-level-6: 10000000;
$z-index-level-7: 100000000;
